[MASTER]
load-plugins=pylint_django

[MESSAGES CONTROL]
disable=
    abstract-method,
    wildcard-import,
    unused-wildcard-import,
    too-many-ancestors,
    import-outside-toplevel

[DESIGN]
max-parents=10

[FORMAT]
max-line-length=100

