[tool.pylint.MAIN]
load-plugins = ["pylint_django"]
ignore = [
    "migrations",
    "tests",
    "test",
    "venv",
    ".venv",
    "setup.py",
    "manage.py",
]
django-settings-module = "config.settings.ci"

[tool.black]
line-length = 100
target-version = ["py311"]
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | venv
  | \.local
  | \.pytest_cache
  | _build
  | buck-out
  | build
  | dist
  | migrations
)/
'''

[tool.isort]
py_version = 311
profile = "black"
multi_line_output = 3
include_trailing_comma = true
skip_glob = ["venv/*", "**/migrations/**"]

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "config.settings.ci"
python_files = ["test_*.py"]
